.card{
  width: 100%;             /* Make the card take full width of the grid cell */
  height: 850px;
  color: white;
  border-radius: 15px;
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card:hover{
  transform: scale(1.03); /* Slightly zoom in on hover */
}

.card-body{
  margin:5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%; /* Make the card body stretch to the full height */
  font-family: "Poppins", sans-serif;
}

.car-model{
  font-size: 55px;
  color: white;
  font-family: "Alex Brush", cursive;
  margin-top: 0;
  margin-bottom: 0;
}

.car-type{
  background-color: rgba(165, 168, 171, 0.8);
  font-size: 14px;
  width:fit-content;
  padding: 0 5px;
  border-radius: 2px;
  display: inline-block;
  margin-right: 10px;
}

.car-description{
  font-size: 24px;
  margin-bottom: 0;
}

.cra-price{
  font-size: 1.2rem;
  font-weight: bold;
}

.models-button{
  background-color: transparent;
  color: white;
  border-radius: 5px;
  padding: 20px 25px;
  font-size: 1rem;
  border: 2px solid #A5A8AB;
  transition: background-color 0.3s ease;
}

.models-button:hover{
  border: 2px solid white;
  background-color: rgba(165, 168, 171, 0.6);
  cursor: pointer;
}